extends layout

block content
    p We have a fully formed API
    p Authenticate with /api/authenticate
    p The rest are /users, /events & /roles
    p They all have a /delete, /update, /view and /create