extends layout

block content
  div(id="linklist")
    p #[a(href="../usermanagement") User management]
    p #[a(href="../roles/create") Role Management]
    p #[a(href="../eventmanagement") Event management]
